.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.innerContainer {
  justify-content: space-between;
}

.row {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.pageWidth {
  width: 100vw;
}

.pageHeight {
  height: 100vh;
}

.centerBox {
  width: 25%;
}

.red {
  background-color: red;
}

.translucentGrey {
  background-color: rgba(150, 150, 150, 0.5);
}
